body, html
{
    background: url("/static/Abstract-Background-White.jpg");
    background-repeat: no-repeat;
    background-color: #29303a;
    font-family: Helvetica, Arial, sans-serif;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

/* Add Zoom Animation */
.animate
{
 -webkit-animation: animatezoom 0.6s;
 animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
 from {-webkit-transform: scale(0)}
 to {-webkit-transform: scale(1)}
}

@keyframes animatezoom
{
 from {transform: scale(0)}
 to {transform: scale(1)}
}

.kevin
{
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-group
{
    margin-bottom: 5px;
}

.form_group_twee
{
    padding-top:5px;
    padding-bottom:5px;
}

#regel
{
    width: 100%;
}

#wrapper
{
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 35%;
}
#eerste_blok
{
    width: 120px;
    float:left;
    text-align: left;
    margin-left: 30px;
}
#tweede_blok
{
    overflow: visible;
}


#dislike
{
    float: left;

}
#like
{
    float: right;

}
.left
{
    float: left;
    border: 0px
    solid #999;
    clear: left;

}
.right
{
    float: right;
    border: 0px
    solid #999;
    clear: right;
}
#content
{
    max-width:550px;
    height: auto;
    margin-left: 300px;
    margin-right: 300px;
}


#message
{
  display:none;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

/* green color for password check*/
.valid
{
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* red color for password check*/
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}

input[type=file] {
    margin: 0 auto;
}


.uitleg
{
    font-size: 15px;
    padding-bottom: 25px;
}

.uitleg_h2
{
    padding-top: 30px;
    padding-bottom: 20px;
}

.uitleg_left
{
    font-size: 15px;
    text-align: left;
}



#likestack
{
    color:#3d6c9f;
    font-size: large;
}
#likestack2
{
    padding-top:15px;
    padding-bottom:10px;
    padding-left:50px;
}
#pijl_kolom
{
    margin-top:200px;
}
#content
{
    margin: 0px;
}

#friends
{
    font-size: large;
    color: #3d6c9f;
}