body, html
{
    background: url("/static/achtergrond1.jpg");
    background-repeat: no-repeat;
    background-color: #29303a;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

/* Add Zoom Animation */
.animate
{
 -webkit-animation: animatezoom 0.6s;
 animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
 from {-webkit-transform: scale(0)}
 to {-webkit-transform: scale(1)}
}

@keyframes animatezoom
{
 from {transform: scale(0)}
 to {transform: scale(1)}
}

.kevin
{
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-group
{
    margin-bottom: 5px;
}

#regel
{
    width: 100%;
}

#wrapper
{
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 35%;
}
#eerste_blok
{
    width: 120px;
    float:left;
    text-align: left;
    margin-left: 30px;
}
#tweede_blok
{
    overflow: hidden;
}


#dislike
{
    float: left;
    margin-top: 400px;
}
#like
{
    float: right;
    margin-top: 400px;
}
.left
{
    float: left;
    margin: 0.5em 1em 0em 1em;
    border: 1px
    solid #999;
    clear: left;

}
.right
{
    float: right;
    margin: 1em 1em 1em 0;
    border: 1px
    solid #999;
    clear: right;
}
#content
{
    max-width:550px;
    height: auto;
    margin-left: 300px;
    margin-right: 300px;
}


#message
{
  display:none;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

/* green color for password check*/
.valid
{
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* red color for password check*/
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}

