{% extends "layout.html" %}

{% block title %}
    Feed
{% endblock %}

{% block main %}

    <img src="{{picture}}">

    <p>
    <form action="{{ url_for('feed') }}" method="post">
        <fieldset>

            <div class="form-group">
                <button class="btn btn-default" type="like">Like</button>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="dislike">Dislike</button>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="ongepast">Ongepast</button>
            </div>
        </fieldset>
    </form>
    </p>
{% endblock %}