{% extends "layout.html" %}

{% block title %}
    Feed

{% endblock %}

{% block main %}
<script>
    {% include "feed.js" %}
</script>

    <div id="row">
        <div class="col-md-3" id="pijl_kolom">
            <a class="left" href="#" role="button" id="dislike" aria-haspopup="true" aria-expanded="false">
            <img src="static/dislike_pijl.png" width="100" height="100" >
            </a>
        </div>
        <div class="col-md-6" id = "content">
            <img src="{{ url_for('download_file', filename=picture) }}", alt="{{description}}", id="img1">
            <p>{{description}}</p>
            <p>van: {{user_id}}</p>
        </div>
        <div class="col-md-3" id = "pijl_kolom">
            <a class="right" href="#" role="button" id="like" aria-haspopup="true" aria-expanded="false">
            <img src="static/like_pijl.png"width="100" height="100" >
            </a>
        </div>
        <div class="w-100"></div>
        <div class="col-md-12">
            <button id="ongepast" class="btn btn-default" >Inappropriate</button>
            <button id="volg" class="btn btn-default" >Follow user</button>
        </div>
    </div>
{% endblock %}