{% extends "layout.html" %}

{% block title %}
    Feed

{% endblock %}

{% block main %}
<script>
    $(document).ready(function(){
        $("#like").on("click", function(){
            $.ajax({type : "POST",
                url : "{{ url_for('feed') }}",
                data: JSON.stringify("like"),
                contentType: 'application/json;charset=UTF-8',
                async: false,
                cache: false,
                success: function () {
                    $.get("/feedcontent", function(picture) {
                    $("#content").html(picture);
                    });
                }
            });
        });
        $("#dislike").on("click", function(){
            $.ajax({type : "POST",
                url : "{{ url_for('feed') }}",
                data: JSON.stringify("dislike"),
                contentType: 'application/json;charset=UTF-8',
                async: false,
                cache: false,
                success: function () {
                    $.get("/feedcontent", function(picture) {
                    $("#content").html(picture);
                    });
                }
            });
        });
        $("#ongepast").on("click", function(){
            $.ajax({type : "POST",
                url : "{{ url_for('feed') }}",
                data: JSON.stringify("ongepast"),
                contentType: 'application/json;charset=UTF-8',
                async: false,
                cache: false,
                success: function () {
                    $.get("/feedcontent", function(picture) {
                    $("#content").html(picture);
                    });
                }
            });
        });
        $("#volg").on("click", function(){
            $.ajax({type : "POST",
                url : "{{ url_for('feed') }}",
                data: JSON.stringify("volg"),
                contentType: 'application/json;charset=UTF-8',
                async: false,
                cache: false,
                success: function () {
                    $.get("/feedcontent", function(picture) {
                    $("#content").html(picture);
                    });
                }
            });
        });
    });

    $(document).ready(function(){
        document.onkeyup = checkKey;

        function checkKey(e) {

            console.log("a")

            e = e || window.event;

                if (e.keyCode == '37'){

                    console.log('test')
                    $.ajax({type : "POST",
                        url : "{{ url_for('feed') }}",
                        data: JSON.stringify("dislike"),
                        contentType: 'application/json;charset=UTF-8',
                        async: false,
                        cache: false,
                        success: function () {
                            $.get("/feedcontent", function(picture) {
                            $("#content").html(picture);
                                });
                        }
                     });
                }
                if (e.keyCode == '39'){
                    console.log("right");
                    $.ajax({type : "POST",
                        url : "{{ url_for('feed') }}",
                        data: JSON.stringify("like"),
                        contentType: 'application/json;charset=UTF-8',
                        async: false,
                        cache: false,
                        success: function () {
                            $.get("/feedcontent", function(picture) {
                            $("#content").html(picture);
                            });
                        }
                    });
                }
        }
    });

</script>


    <div id="row">
        <div class="col-md-3" id="pijl_kolom">
            <a class="left" href="#" role="button" id="dislike" aria-haspopup="true" aria-expanded="false">
            <img src="static/likeleft.png" width="100" height="100" >
            </a>
        </div>
        <div class="col-md-6" id = "content">
            <img src="{{ url_for('download_file', filename=picture) }}", alt="{{description}}", id="img1">
            <p>{{description}}</p>
            <p>van: {{user_id}}</p>
        </div>
        <div class="col-md-3" id = "pijl_kolom">
            <a class="right" href="#" role="button" id="like" aria-haspopup="true" aria-expanded="false">
            <img src="static/likeright.png"width="100" height="100" >
            </a>
        </div>
        <div class="w-100"></div>
        <div class="col-md-12">
            <button id="ongepast" class="btn btn-default" >Ongepast</button>
            <button id="volg" class="btn btn-default" >Volgen</button>
        </div>
    </div>
{% endblock %}