{% extends "layout.html" %}

{% block title %}
    Forgot password
{% endblock %}

{% block main %}
    <div id="regel">
        <div class="kevin blue"><h2>Change your password</h2></div>
    </div>
    <form action="{{ url_for('forgot') }}" method="post">
        <fieldset>
            <div id="wrapper">
                <div id="eerste_blok">
                    Username
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input autocomplete="off" autofocus class="form-control animate" name="username" id="usrname" placeholder="Username" type="text" required/></div>
                </div>
                <div id="eerste_blok">
                    Password
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="password" id="psw" placeholder="New password" type="password" required/></div>
                </div>
                <div id="eerste_blok">
                    Confirm password
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="confirmation" id="confir" placeholder="Password confirmation" type="password" onkeyup='check();' required/></div>
                </div>
            </div>
            <span id="confirmation_message"></span>
            <div id="regel">
                <p>
                    <h4> Security question</h4>
                    What was your place of birth?
                </p>
                <div class="form-group animate">
                    <input class="form-control" name="question" placeholder="Answer" type="text" required/>
                </div>
            </div>
            <div id="regel">
                <div class="form-group animate">
                    <button class="btn btn-default animate" type="submit">Change password</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="regel" class="animate">
        <a href="{{ url_for('login') }}">Back to the login page</a>
    </div>
    <div id="message">
        <h6>Het wachtwoord moet ten minste bevatten:</h6>
        <p id="letter" class="invalid">Een <b>kleine letter</b></p>
        <p id="capital" class="invalid">Een <b>hoofdletter</b></p>
        <p id="number" class="invalid">Een <b>nummer</b></p>
        <p id="length" class="invalid">Minimaal <b>8 karakters</b></p>
    </div>


    <script>
    var myInput = document.getElementById("psw");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
      document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
      document.getElementById("message").style.display = "none";
    };

    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if(myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }

      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if(myInput.value.match(upperCaseLetters)) {
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }

      // Validate numbers
      var numbers = /[0-9]/g;
      if(myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }

      // Validate length
      if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
     };

    var check = function() {
          if (document.getElementById('psw').value ==
              document.getElementById('confir').value) {
              document.getElementById('confirmation_message').style.color = 'green';
              document.getElementById('confirmation_message').innerHTML = '<b>Wachtwoorden komen overeen!</b>';
          } else {
          		document.getElementById('confirmation_message').style.color = 'red';
              document.getElementById('confirmation_message').innerHTML = '<b>Wachtwoorden komen niet overeen!</b>';
          }
      };
    </script>

{% endblock %}