{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}


    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">-->
    <h4>History</h4>
      <p>Table of all your sales</p>
    <table class="table">
        <thead>
          <tr>
            <th>Bought/sold</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for item in history %}
          <tr>
            <td>{% if item.amount > 0 %} Bought {% else %} Sold {% endif %}</td>
            <td>{{item.stock}}</td>
            <td>{{item.price}}</td>
            <td>{% if item.amount < 0 %} {{item.amount*-1}} {%else%} {{item.amount}} {% endif %}</td>
            <td>{{item.time}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}