{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div id="regel">
        <div class="kevin blue"><h2>The stack is waiting for you!</h2></div>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div id="wrapper">
                <div id="eerste_blok">
                    Username
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input autocomplete="off" autofocus class="form-control animate" name="username" placeholder="Username" type="text" required/></div>
                </div>
                <div id="eerste_blok">
                    Password
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="password" placeholder="Password" type="password" required/></div>
                </div>
            </div>
            <div id="regel">
                <div class="form-group animate">
                    <button class="btn btn-default animate" type="submit">Start Stacking</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="regel" class="animate">
        <a href="{{ url_for('register') }}">I don't belong to the stack yet</a>
    </div>
    <div id="regel" class="animate">
        <a href="{{ url_for('forgot') }}">Forgot password</a>
    </div>

{% endblock %}
