{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="kevin blue"><h2>The stack is waiting for you!</h2></div>

    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group" style="margin-bottom: 30px">
                <input class="form-control animate" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group animate">
                <button class="btn btn-default animate" type="submit">Start Stacking</button>
            </div>
        </fieldset>
    </form>
    <form action="{{ url_for('register') }}" method="get">
        <fieldset>
            <div class="form-group animate">
                <button class="btn btn-default" type="submit">Ik behoor nog niet tot de stack!</button>
            </div>
        </fieldset>
    </form>
    <form action="{{ url_for('forgot') }}" method="get">
        <fieldset>
            <div class="form-group animate">
                <button class="btn btn-default" type="submit">Ik ben mijn wachtwoord vergeten..</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
