{% extends "layout.html" %}

{% block title %}
    Mijn foto's
{% endblock %}

{% block main %}
    <form action="{{ url_for('mijn_fotos') }}" method="post">
        <fieldset>
            <table class="table">
                <thead>
                    <tr>
                        <th> Mijn foto's </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{item.filename}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </form>
{% endblock %}
