{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="regel">
        <div class="kevin blue"><h2>Register to join the stack!</h2></div>
    </div>
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div id="wrapper">
                <div id="eerste_blok">
                    Gebruikersnaam
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input autocomplete="off" autofocus class="form-control animate" name="username" placeholder="Username" type="text"/></div>
                </div>
                <div id="eerste_blok">
                    Wachtwoord
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="password" placeholder="Password" type="password"/></div>
                </div>
                <div id="eerste_blok">
                    Bevestig wachtwoord
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="confirmation" placeholder="Password confirmation" type="password"/></div>
                </div>
            </div>
            <div id="regel">
                <p>
                    <h4> Security question</h4>
                    What was your place of birth?
                </p>
                <div class="form-group animate">
                    <input class="form-control" name="question" placeholder="Answer" type="text"/>
                </div>
            </div>
            <div id="regel">
                <div class="form-group animate">
                    <button class="btn btn-default animate" type="submit">Join the stack</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="regel" class="animate">
        <a href="{{ url_for('login') }}">Ik behoor al tot de stack</a>
    </div>
    <div id="regel" class="animate">
        <a href="{{ url_for('forgot') }}">Wachtwoord vergeten</a>
    </div>

{% endblock %}