{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="regel">
        <div class="kevin blue"><h2>Register to join the stack!</h2></div>
    </div>
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div id="wrapper">
                <div id="eerste_blok">
                    Username
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input autocomplete="off" autofocus class="form-control animate" name="username" id="usrname" placeholder="Username" type="text" required/></div>
                </div>
                <div id="eerste_blok">
                    Password
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="password" id="psw" placeholder="Password" type="password" required/></div>
                </div>
                <div id="eerste_blok">
                    Confirm password
                </div>
                <div id="tweede_blok">
                    <div class="form-group"><input class="form-control animate" name="confirmation" id="confir" placeholder="Password confirmation" type="password" onkeyup='check();' required/></div>
                </div>
            </div>
            <span id="confirmation_message"></span>
            <div id="regel">
                <p>
                    <h4> Security question</h4>
                    What was your place of birth?
                </p>
                <div class="form-group animate">
                    <input class="form-control" name="question" placeholder="Answer" type="text" required/>
                </div>
            </div>
            <div id="regel">
                <div class="form-group animate">
                    <button class="btn btn-default animate" type="submit">Join the stack</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="regel" class="animate">
        <a href="{{ url_for('login') }}">I'm already a part of the stack</a>
    </div>
    <div id="message">
        <h6>Het wachtwoord moet ten minste bevatten:</h6>
        <p id="letter" class="invalid">Een <b>kleine letter</b></p>
        <p id="capital" class="invalid">Een <b>hoofdletter</b></p>
        <p id="number" class="invalid">Een <b>nummer</b></p>
        <p id="length" class="invalid">Minimaal <b>8 karakters</b></p>
    </div>


    <script src="{{ url_for('static', filename='forgot.js') }}"></script>


{% endblock %}