{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Password confirmation" type="password"/>
            </div>
            <p>
                <h4> Security question</h4>
                What was your place of birth?
            </p>
            <div class="form-group">
                <input class="form-control" name="question" placeholder="Answer" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit"> Join the stack </button>
            </div>
        </fieldset>
    </form>
     <form action="{{ url_for('login') }}" method="get">
        <fieldset>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Ik behoor al tot de stack!</button>
            </div>
        </fieldset>
    </form>
{% endblock %}