{% extends "layout.html" %}

{% block title %}
    How it works
{% endblock %}

{% block main %}
    <h2 class="uitleg_h2">Hi there, USERNAME!</h2>
    <div class="uitleg"><p>We know that you want to start stacking immediately, but first we need to explain a few things. It won't take long, we promise ;)</p>
        <div class="uitleg"><iframe src="https://giphy.com/embed/l2JdUhw8mMsaQxaAE" width="200" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
    <div class="uitleg">
        <p class="uitleg_left">
            <img src="{{ url_for('download_file', filename='static/Feed.png') }}" alt="Image" style="float: right; width: 50%">
            <b>Feed</b><br/>
            When you log in, you see your personal feed. The feed shows you pictures that other users uploaded to the stack. For every photo in the stack you have a few options:
        </p>
            <ul class="uitleg_left">
                <li>If you like the picture, click the <b>like button</b> or use the <b>right arrow</b> on your keyboard.</li>
                <li>If you don’t like the picture, click the <b>dislike button</b> or use the <b>left arrow</b> on your keyboard.</li>
                <li>If you think that the picture is inappropriate, click <b>Inappropriate</b></li>
            </ul>
        <p class="uitleg_left">
            If you want to follow the user that uploaded the photo, click <b>follow</b>. After you’ve added some friends by clicking on the follow button. You can choose to go to the friendfeed. This feed will only show you the new pictures of the users that you marked as friend.
        </p>
    </div>
    <div><img src="{{ url_for('download_file', filename='static/gif1.gif') }}" alt="Image"></div>
    <p class ="uitleg"></p>
{% endblock %}