
{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    function myFunction(giphname) {
        var test = { name: giphname, id: "send_giphy" };

        document.getElementById("demo").innerHTML = test['name'];
            $(document).ready(function(){
            $("#send_giphy").on("click", function(){
                $.ajax({type : "POST",
                    url : "{{ url_for('upload') }}",
                    data: JSON.stringify(test),
                    contentType: 'application/json;charset=UTF-8',
                });
            });
        });
    }
    </script>


    <h4>Upload a picture to the stack</h4>
        <p id="demo"></p>
    <form method="post" enctype="multipart/form-data" action="{{url_for('upload')}}">
        <input type="description" placeholder="description" name="description" id="description">
        <br/>
        <input type="file" name="photo" class="button" id="choosefile">

        <input type="submit" class="button" id="uploadbutton">
        <input type="description" placeholder="gif keyword" name="giphy" id="giphy">
        <br/>
        <button class = "btn btn-default animate" name ="giphysubmit" id = "giphysubmit" type="submit">Gimme giphy's!</button>
    </form>


    <div id="regel">
        <div class="kevin blue"><h2>Upload a picture to the stack</h2></div>
    </div>
    <form method="post" enctype="multipart/form-data" action="{{url_for('upload')}}">
        <div id="regel">
            <div class="btn btn-default">
                <input type="file" name="photo" class="button" id="choosefile">
            </div>
        </div>
        <div class="form-group" style="margin-top: 5px">
            <input class="form-control animate" autofocus type="description" placeholder="description" name="description" id="description">
        </div>
        <div id="regel">
            <input type="submit" class="form-control animate" placeholder="Stack het!" name="submit" id="uploadbutton">
        </div>

        <input type="description" placeholder="gif keyword" name="giphy" id="giphy">
        <br/>
        <button class = "btn btn-default animate" name ="giphysubmit" id = "giphysubmit" type="submit">Gimme giphy's!</button>
    </form>



    <div>

    {% for i in urldata %}
        <img src={{ i }} id = "send_giphy" name = {{ i }} onclick ="myFunction(name, id)" >
    {% endfor %}

    </div>

{% endblock %}