{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}

    <script>
        function sendData(giphname) {
            var description = document.getElementsByName("description")[0].value;
            var giphData = { name: giphname, id: "send_giphy", description: description};
            $.ajax({type : "POST",
                url : "{{ url_for('upload') }}",
                data: JSON.stringify(giphData),
                contentType: 'application/json;charset=UTF-8'
            });
            window.location.replace(" {{ url_for('feed') }}");
        }
    </script>

    <form method="post" enctype="multipart/form-data" action="{{url_for('upload')}}">
        <h2 style="padding-bottom: 15px">Upload a picture or a gif to the stack</h2>
        <div class="uitleg">
            <h4>Upload a picture to the stack</h4>
            <input type="file" name="photo" class="button" id="choosefile" align="right">
        </div>
        <div class="uitleg">
            <h4>Upload a gif to the stack </h4>
            <input class="form-control animate" type="description" placeholder="gif keyword" name="giphy" id="giphy">
            <button class = "btn btn-default animate" name ="giphysubmit" id = "giphysubmit" type="submit">Gimme giphy's!</button>
        </div>
        <div class="uitleg">
            <h3>Don't forget to add a description!</h3>
            <input class="form-control animate" type="description" placeholder="description" name="description" id="description"br/>
            <button class = "btn btn-default animate" id = "uploadbutton" type="submit" style="margin-top: 10px">Submit</button>
        </div>
    </form>

    {% for i in urldata %}
        <br>
        <img src={{ i }} id = "send_giphy" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick ="sendData(src)" >
        <br>
    {% endfor %}

{% endblock %}
