
{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}

<script>
function getImgSize(imgSrc) {
    var newImg = new Image();

    newImg.onload = function() {
      var height = newImg.height;
      var width = newImg.width;
      alert ('The image size is '+width+'*'+height);
    }

    newImg.src = imgSrc; // this must be done AFTER setting onload
}



function getMeta(url){
    var img = new Image();
    img.addEventListener("load", function(){
        var num = 15;
        return 13..tostring(8)
    });
    img.src = url;
}

function bigImg(x, name) {
  x.style.height = "64px";
  x.style.width = "64px";
}

function normalImg(x, name) {

  x.style.width = getMeta(name)[0][0];
  x.style.height = getMeta(name)[0][1];
    getMeta(name)[1]
}
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    function myFunction(giphname) {
        var test = { name: giphname, id: "send_giphy" }

        $.ajax({type : "POST",
            url : "{{ url_for('upload') }}",
            data: JSON.stringify(test),
            contentType: 'application/json;charset=UTF-8'
        });

        $(name).css({
        'background-color': 'red',
        'color': 'white',
        'font-size': '44px'
    });

        window.location.replace(" {{ url_for('feed') }}")
    }
    </script>

    <h4>Upload a picture to the stack</h4>
        <p id="demo"></p>
    <form method="post" enctype="multipart/form-data" action="{{url_for('upload')}}">
        <input type="description" placeholder="description" name="description" id="description">
        <br/>
        <input type="file" name="photo" class="button" id="choosefile">

        <input type="submit" class="button" id="uploadbutton">
        <input type="description" placeholder="gif keyword" name="giphy" id="giphy">
        <br/>
        <button class = "btn btn-default animate" name ="giphysubmit" id = "giphysubmit" type="submit">Gimme giphy's!</button>
    </form>



    <div>

    {% for i in urldata %}
            <img src={{ i }} id = "send_giphy" name = {{ i }} onmouseover="bigImg(this, name)" onmouseout="normalImg(this, name)" onclick ="myFunction(name, id)" >
          </div>
        </div>
    {% endfor %}





{% endblock %}