{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
        <div class="uitleg">
            <h4>Upload a gif to the stack </h4>
            <input class="form-control animate" type="description" placeholder="Insert one keyword" name="giphy" id="giphy">
            <button class = "btn btn-default animate" name ="giphysubmit" id = "giphysubmit" type="submit">Gimme giphy's!</button>
        </div>
        <div class="uitleg">
            <li><a href="{{ url_for('upload_file') }}"><h4>Or upload a file from your own computer!</h4></a></li>
        </div>
        <div class="uitleg">
            <h3>Don't forget to add a description!</h3>
            <input class="form-control animate" type="description" placeholder="description" name="description" id="description"br/>
            <button class = "btn btn-default animate" id = "uploadbutton" type="submit" style="margin-top: 10px">Submit</button>
        </div>
        <div id="gifs">

        </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='upload_gif.js') }}"></script>
{% endblock %}
